/* =========================
	Algemene informatie
========================= */

	/* Algemeen */

		/* Importeren font */
		@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

		/* Toepassen font */
		body { 
			font: 100%/1.5 'Dosis', Helvetica, Arial, sans-serif; 
			background-color: #f1f1f1;
		}

		a {
			color: #333;
			text-decoration: none;
		}
		a:visited {
			color: #333;
			text-decoration: none;
		}
		a:hover {
			color: #444444;
			text-decoration: none;
		}
		input[type=text]{ 
			color:#606060;
		}

		/* Stylen van placeholder voor webkit en firefox 19+ */
		::-webkit-input-placeholder, -moz-placeholder {
		   font: 100%/1.5 'Dosis', Helvetica, Arial, sans-serif; 
		   color:#606060;
		   font-style: italic;
		}
		/* Stylen van placeholder voor webkit en firefox 19+ */
		:-moz-placeholder { /* Firefox 18- */
		   font: 100%/1.5 'Dosis', Helvetica, Arial, sans-serif; 
		   color:#606060;
		   font-style: italic;
		}

		h1 {
			font-size: 1.5em;
			margin: 1em 0;
			color: #111;
		}

		p {
			display: block;
			margin: 0.5em 0;
			color: #111;
		}

		video, img
		{
			width: 100%    !important;
			height: auto   !important;
		}

		body > section > header > h1 {
			width: 100%;
			text-align: center;
			font-size: 2em;
			color:white;
			float: left;
			line-height: 1;
			height: 40px;
			margin: 0px;
			padding: 10px 0;
		}

		ol li {
			background: #dddddd;
			padding: .5em;
			margin: 0;
		}

		/* Dit blok geldt voor elke *tweede* li in een ol */
		ol li:nth-child(2n) {
			background: none;
		}

		.wrapper{
			width:90%;
			margin:0 5%;
		}

		/* Clearfix zorgt ervoor dat een floated element een hoogte krijgt, deze staat gelijk aan de hoogte van de daarin weergegeven content. */
		.clearfix:before, .clearfix:after { content: ""; display: table; }
		.clearfix:after { clear: both; }
		.clearfix { zoom: 1; }


	/* Logo */

	.logo {
		border-radius: 0 0 16px 16px;
		border: solid 1px rgba(0, 0, 0,0.3);
	}

	/* Top */

		body > section:first-of-type { 
			background:#f16529;
			-webkit-box-shadow:0 5px 10px #000;
			-moz-box-shadow:0 5px 10px #000;
			box-shadow:0 5px 10px #000;
			padding-bottom: 6px;
		}


		body > header {
			text-align: center;
		}

	/* Menu */

		nav a{
			display:block;
			width: 100%;
			margin-bottom:10px;
			padding:15px 0;
			float: left;
			background:#e44d26;
			color:white;
			text-align:center;
			text-decoration:none;
			font-weight:bold;
		}

		nav a:hover, nav a:visited{
			color:white;
		}

		nav a:hover{
			text-decoration:underline;
		}

				.navigation a {

			font-size: 14px;
			color: #ffffff;
			background: -moz-linear-gradient(top, #f26734 0%, #f68446);
			background: -webkit-gradient(linear, left top, left bottom, from(#f26734),to(#f68446));
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			border: 1px solid rgba(255,255,255,0.3);
			text-decoration: none;
			-moz-box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			-webkit-box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			text-shadow:
				0px -1px 0px rgba(000,000,000,1),
				0px 1px 0px rgba(255,255,255,0.2);
			-webkit-transition: all 1.2s ease;
		    -moz-transition: all 1.2s ease;
		    -o-transition: all 1.2s ease;
		    transition: all  1.2s ease;


		}

		.navigation a:hover {
			color: #111;
			text-decoration: none;
			text-shadow: none;
		}



	/* Searchbox */

		#searchbox {
			float: left;
			display:block;
			width: 75%;
			height: 40px;
			margin: 0px;
			padding: 10px 0;
		}

		#searchbox input[type=text]{
			border:none;
			background-color:#ffffff;
			border-radius: 4px;
		}

		.search {
			background: url('../img/search.png') no-repeat 5% 50%;
			font-weight:bold;
			padding: 12px 5% 11px 15%;
			font-size: 80%;
			width: 55%;
		}

		#searchbox input[type=button], #searchbox input[type=button]:hover {
			position: relative;
			border: none;
			cursor: pointer;
			background: #e44d26;
			color: white;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			padding: 12px 0 11px 0;
			font-size: 80%;
			width: 25%;
		}

		#searchbox form {
			float: right;
			width: 100%;
		}

	/* Main */

		
		#main > nav > ul {
			background-color: #f16529;
		}

		aside > article,
		#main > section > header,
		#main > nav > ul > li a
		{ 

			background: -moz-linear-gradient(top, #f26734 0%, #f68446);
			background: -webkit-gradient(linear, left top, left bottom, from(#f26734),to(#f68446));
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			text-decoration: none;
			-moz-box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			-webkit-box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			text-shadow:
				0px -1px 0px rgba(000,000,000,1),
				0px 1px 0px rgba(255,255,255,0.2);

			webkit-transition: all 1.2s ease;
		  	-moz-transition: all 1.2s ease;
		  	o-transition: all 1.2s ease;
		    transition: all  1.2s ease;
		}

					aside > article,
					#main > section > header,
					#main > nav > ul > li a:hover { 
					color: #111;
					text-shadow: none;
					}

		#main{
			padding:30px 0;
		}

		#main nav{
			display: none;
		}

		aside > article,
		#main section > header {
			color:white;
			padding: 0.5em 5% 0.75em;
		}

	/* Aside */

		aside > article {
			margin-bottom: 2.5em;
		}
		aside > article > section > h1 {
			font-size: 100%;
		}
		aside article > section {
			border-top: 5px solid #e44d26;
		}
		aside article section > time {
			margin-right: 2px;
			padding-right: 5px;
			border-right: 1px solid #e44d26;
			color: #000000;
		}
		aside .lees {
			text-align: center;
			position: relative;
			border: none;
			cursor: pointer;
			background: #e44d26;
			color: white;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			padding: 5px 0%;
			margin-top: 10px;
			font-size: 80%;
			display: block;
			width: 100%;
		}
		aside article section > h1:first-of-type {
			margin-bottom: 0px;
		}
		aside article section > h1:not(:first-of-type) {
			font-weight: normal;
			font-style: normal;
			font-size: 100%;
			color: #000000;
			margin: 0px;
		}

	/* Footer */


		footer ul {
			list-style: none;
		}

		a {
			color: #111
		}


		footer {
			overflow:auto;
			background:#f16529;
			color: #111;
			border-top: 20px solid #e44d26;
			padding:20px 0;
		}

	/* Form */

		/* Dit blok geldt voor alle input-elementen */
		fieldset > input {
			display: block;
			width: 100%;
			box-sizing: border-box;
			border-radius: .3em;
			-webkit-box-shadow: inset .1em .1em .2em rgba(0,0,0,.5);
			-moz-box-shadow: inset .1em .1em .2em rgba(0,0,0,.5);
			box-shadow: inset .1em .1em .2em rgba(0,0,0,.5);
			appearance: none;
			border: none;
			margin: .3em 0;
			padding: .2em .2em .2em .5em;
		}


		/* Dit blok geldt voor een input die focus heeft */
		fieldset > input:focus {
			-webkit-box-shadow: inset .3em .3em .6em rgba(0,0,0,.5);
			-moz-box-shadow: inset .3em .3em .6em rgba(0,0,0,.5);
			box-shadow: inset .3em .3em .6em rgba(0,0,0,.5);
			padding: .4em .2em .4em .5em;
			outline: none;
		}

		/* Fieldset die required is en niet aan de gedefinieerde waarde voldoet */ 
		fieldset > input:invalid, fieldset > textarea:invalid {
			background-color: #CD9B9B;
		}

		/* Fieldset die aan de waarde voldoet */
		fieldset > input:valid, fieldset > textarea:valid {
			background-color: #9CBA7F;
		}

		

		fieldset {
			border: 0;
			border-radius: 1em;
			box-shadow: 0 0 1em currentColor;
			padding: 1em;
		}

		fieldset:last-of-type{
			margin-bottom: 50px;
		}

		fieldset > legend {
			padding-top: 50px;
			font-size: 1.2em;
		}

		fieldset > legend + ol {
			padding: 2em 0 0;
			list-style: none;
		}

		fieldset > label {
			display: block;
			width: 100%;
		}

		fieldset > input,
		fieldset > select { 
			color:#606060;
			font: 100%/1.5 'Dosis', Helvetica, Arial, sans-serif; 
		}

		fieldset > select {
			width: 100%;
			border-radius: .3em;
			-webkit-box-shadow: .1em .1em .2em rgba(0,0,0,.5);
			-moz-box-shadow: .1em .1em .2em rgba(0,0,0,.5);
			box-shadow: .1em .1em .2em rgba(0,0,0,.5);
			appearance: none;
			border: none;
			margin: .3em 0;
			padding: .3em .3em .3em .5em;
			background-color: #9CBA7F;
			border:1px solid rgba(0,0,0,.1);
			outline: none;

		}

				/* span */
		.bold {
			font-weight: bold;
			font-size: 1em;
		}

		.streepje {
			display: inline;
		}


/* =========================
	Mobiel
========================= */

		.sub-menu {
			width: 80%;
			float: right;


		}

	/* Uitklapbaar Menu */

		.slide-trigger {
			float: right;
			display:block;
			width: 20%;
			height: 40px;
			margin: 0px;
			padding: 10px 0;
			display: none; /* need this */
			cursor: pointer;
		}
		.slide-trigger span {
			text-align: center;
			position: relative;
			border: none;
			cursor: pointer;
			color: #ffffff;
			background: -moz-linear-gradient(top, #f26734 0%, #f68446);
			background: -webkit-gradient(linear, left top, left bottom, from(#f26734),to(#f68446));
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			border: 1px solid rgba(255,255,255,0.3);
			text-decoration: none;
			-moz-box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			-webkit-box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			box-shadow:
				0px 1px 3px rgba(000,000,000,0.5),
				inset 0px 0px 1px rgba(255,255,255,0.6);
			text-shadow:
				0px -1px 0px rgba(000,000,000,1),
				0px 1px 0px rgba(255,255,255,0.2);
			-webkit-transition: all 1.2s ease;
		    -moz-transition: all 1.2s ease;
		    -o-transition: all 1.2s ease;
		    transition: all  1.2s ease;
			text-shadow: none;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			padding: 10px 0%;
			font-size: 80%;
			display: block;
			width: 100%;
		}

		/* touch */
		.touch article a{
			font-size: 1.3em; 
		}
		.touch a h1{
			font-size: 1.3em; 		
		}	
		
		/* De hieronder weergegeven code zorgt ervoor dat bij het laden van de pagina het menu niet direct wordt getoond. */
		@media only screen and (max-width: 479px) {
			.slide-trigger { display: block; }
			.no-js .slide-trigger { display: none; }
			.navigation { display: none; }
		    .no-js .navigation { display: block; }

		.no-touch footer section section:nth-child(-n+1){
			display: block;
		}

		.touch footer section section:nth-child(-n+1){
							
			display: none;
		}

		}

	
/* =========================
	Tablet
========================= */
	
	@media only screen and (min-width: 480px) {

	/* Top */

		body > section > header > h1 {
		width: 55%;
		font-size: 1.5em;
		text-align: left;
		text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);

		}

	/* Menu */

		.sub-menu {
			display: none;
		}


			body > section:first-of-type nav a{
			width: 17%;
			padding: 5px 0%;
			margin: 0.5% 1% 0% 1%;
			font-size: 80%;
		}

		body > section:first-of-type nav ul li:first-child a { 
			margin-left:0;
		}

		body > section:first-of-type nav ul li:last-child  a { 
			margin-right:0; 
		}


		#main nav {
			width: 99%;
			float: left;
			background-color: #e44d26;
			border-radius: 6px;
			padding: 4px 0.5% 4px;
			display: block;
		}

		




	/* Searchbox */

		#searchbox {
				width: 45%;
				float: right;
		}

		#searchbox input[type=button], #searchbox input[type=button]:hover {
			padding: 3% 0%;
		}

		.search {
		padding: 3% 5% 3% 15%;
		}

	/* Main */

	/* Aside */

		aside > article {
			width: 38%;
			float: left;
		}

		aside > article:last-of-type {
			float: right;
		}

	/* Footer */


		footer section ul a {
			color: #111;
		}

			footer section section:nth-child(2) {
			display: block;
		}

	}

/* =========================
	Computer
========================= */

	@media only screen and (min-width: 768px) {

	/* Algemeen */

		a {
			color: #333;
			text-decoration: none;
			-webkit-transition: all 1.2s ease;
		    -moz-transition: all 1.2s ease;
		    -o-transition: all 1.2s ease;
		    transition: all  1.2s ease;
		}
		a:visited {
			color: #111;
			text-decoration: none;
		}
		a:hover {
			color: #111;
			text-decoration: none;

		}

	/* Top */

	/* Menu */

		body > section:first-of-type nav a{
			width: 16%;
			padding: 5px 0%;
			margin: 0.5% 1% 0% 1%;
			font-size: 80%;
		}

		body > section:first-of-type nav ul li:first-child a { 
			margin-left:0;
		}

		body > section:first-of-type nav ul li:last-child  a { 
			margin-right:0; 
		}

		#main nav a{
			float:left;
			width:100%;
			display:block;
			margin:0 0 6px 0;
			padding:10px 0;
			float: left;
			font-size: 80%;
			-webkit-transition: all 1.2s ease;
		    -moz-transition: all 1.2s ease;
		    -o-transition: all 1.2s ease;
		    transition: all  1.2s ease;
		}
		.navigation {
			background-color: #fff;
		}

		#main nav {
			width: 16%;
			float: left;
			background-color: #e44d26;
			border-radius: 6px;
			padding: 4px 0.5% 4px;
			display: block;
		}


	/* Searchbox */

		#searchbox {
			width: 30%;
		}

	/* Main */

		#main > section{
			float:left;
			width:53%;
			padding: 0 3% 0 3%;
		}

	/* Aside */

		#main aside > article{
			float:right;
			width:18%;
			padding:0px 3% 10px;
		}

	/* Footer */

		footer section section:nth-child(n){
			display: block;
		}

		footer section section:first-of-type {
			width: 48%;
			float: left;
		}

		footer section section:not(:first-of-type) {
			width: 48%;
			float: right;
		}

		/* span */

		.streepje {
			display: none;
		}

	}




/* =========================
	Maximaal
========================= */

	@media only screen and (min-width: 1140px) {

		.wrapper {
			width:1026px;
			margin:0 auto;
		}

	}












